@import "../../App.modules";
.Header {
    font-family: "Lobster", cursive;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    h1 {
        color: $MainColor;
        min-width: 100%;
    }
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .Input {
            font-size: 1rem;
            background-color: #edeff0;
            border: solid 3px #d7dbdf;
            min-height: 30px;
            min-width: 300px;
        }
        button,
        input {
            border: none;
            outline: none;
            border-radius: 5px;
        }
        .Button {
            color: $MainColor !important;
            background-color: #d7dbdf;
            &:disabled {
                border: none;
                cursor: not-allowed;
            }
            &:enabled {
                cursor: pointer;
            }
        }
        .ButtonsContainer {
            margin-top: 30px;
            display: inherit;
            flex-wrap: inherit;
            width: 100%;
            justify-content: space-around;
            button {
                background-color: $MainColor;
                color: #fff;
                min-width: 15%;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}